/* CSS untuk membuat logo WhatsApp mengambang */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    text-align: center;
    z-index: 1000;
}

.whatsapp-float img {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 5px;
}